body
	font-size 16px
	line-height 20px

h1
	color #98D5BB
	line-height 2em
	margin 20px 0
	position relative
	text-align center
	text-shadow 2px 2px 0px #7EB29C

#testing-area
	height 500px
	overflow hidden
	position relative
	width 100%

	#diamond
		display inline-block		
		position relative
		vertical-align top
		width: 500px
		z-index 10

	img
		left 0
		position absolute
		top 0

	#marcos-logo
		display inline-block
		position relative
		vertical-align top
		width: 500px
		z-index 10